{% extends "common.html" %}
{% block title %} <title>地合网实验室</title> {% endblock %}
{% block content %}
  	<div class="container-fluid">
  	<div class="row hdr"></div>
  	</div>
    <div class="container" style='display:none;'>
    	<div class="row">
      <form class="form-signin" action='/login/' method="POST">
      	{% csrf_token %}
        <h2 class="form-signin-heading">请用地合网邮箱登录</h2>
        <label for="inputEmail" class="sr-only">邮箱</label>
        <div class="e_wrapper">
         <div class="bubble_l" style="display:block;">
            <div class="bubble_arrow"></div>
              <div class="wrapper">
               <div>
                <ul>
                  <li>请输入并从列表选择您的<code>企业邮箱帐号</code>。</li>
                  <li>如果您的帐号<code>不</code>在提示列表，请联系<a href="mailto:shawn@idihe.com"><code>管理员</code></a>。</li>
                </ul>
               </div>
              </div>
            </div>

          <input type="text" id="inputEmail" name="email" class="form-control email top" maxlength="16" placeholder="邮箱" autocomplete="off" required autofocus>
          <span class="e_append">@idihe.com</span>
        </div>

        
        <div>
        <div class="e_wrapper _reg">
          <label for="inputVcode" class="sr-only">验证码</label>
          <input type="text" id="inputVcode" name="vcode" class="form-control psw" maxlength="4" placeholder="验证码">
          <div class="bubble_l">
            <div class="bubble_arrow"></div>
              <div class="wrapper">
               <div>
                <ul>
                  <li>该邮件地址没有注册过。</li>
                  <li>我们已经发送<code>验证码</code>到您输入的邮箱。</li>
                  <li>请<code>查收</code>并在这里输入验证码。</li>
                </ul>
               </div>
              </div>
          </div>
        </div>

        <div class="e_wrapper">
          <div class="bubble_l">
            <div class="bubble_arrow"></div>
              <div class="wrapper">
               <div>
                <ul>
                  <li>请输入<code>密码</code>,至少<code>6</code>位。</li>
                </ul>
               </div>
              </div>
          </div>

          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" id="inputPassword" name="password" class="form-control psw" maxlength="24" placeholder="密码" required>
        </div>
        <div class="e_wrapper">
          <div class="bubble_l">
            <div class="bubble_arrow"></div>
              <div class="wrapper">
               <div>
                <ul>
                  <li>请再次输入<code>密码</code>,至少<code>6</code>位。</li>
                </ul>
               </div>
              </div>
          </div>

          <label for="inputPassword2" class="sr-only _reg">重复密码</label>
          <input type="password" id="inputPassword2" name="password2" class="form-control psw _reg" maxlength="24" placeholder="重复密码">
        </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" name='remember'> 记住我
          </label>
        </div>
        <button id="btn-login" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

      </form>
      </div>
    </div>
{% endblock %}


  {% block scripts %}
    <script>var ename_list = {{emails|safe}};</script>
    <script data-main="{{STATIC_URL}}res/index" src="{{STATIC_URL}}res/require.js"></script>
  {% endblock %}



